.container{
    margin-top: 1rem;
    .login-form{
        margin-top: 2rem;
        label{
            font-weight: 800;
        }
        input{
            margin-top: .5rem;
            margin-bottom: 1rem;
            width: 100%;
            height: 5rem;
            padding-left: 1rem;
            border-radius: 5px;
        }
        p{
            color: red;
        }
        .submit-handle{
            margin-top: 1rem;
            .register-link{
                text-decoration: none;
            }
            .btn-login{
                margin-left: 1rem;
                border-radius: 5px;
            }
        }
    }
}