.footer {
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
    z-index: 1;
    margin-top: 10rem;
    border-top: 1px solid #dacdcd;
    
    .footer-left {
        display: flex;
        justify-content: center;
    }
    .footer-right {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    i {
        cursor: pointer;
    }
    p {
        margin: 0 1rem;
        cursor: pointer;
    }



}


@media screen and (max-width : 667px) {
    .footer {
        // justify-content: ;
        display: grid;
    }
}