main {
  padding-top: 2rem;
  @media (max-width: 768px) {
    .filter-section {
      display: none;
    }
  }
  .filter-section {
    button {
      padding: 0.5rem 1.5rem 0.5rem 1.5rem;
      margin-right: 1rem;
      border: 1px solid #000000;
      border-radius: 15px;
      display: inline-block;
      background: none;
    }
    button:active {
      transform: scale(0.95);
      background-color: #d3d3d3;
    }
  }
}
